* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: gold;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 1.7;
}

a {
  color: #333;
  text-decoration: none;
 
}

h1 {
  flex-direction: column;
  text-align: center;
  margin-top: 30px;
  font-weight: bolder;
}

.search {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  font-weight: bolder;
}

.searchTerm .filterLabel {
  padding: 20px;
}

.filterOption {
  background-color: black;
  color: white;
  width: 80px;
}

input {
  background-color: white;
  padding: 10px;
  width: 100px;
}

.button {
  padding: 10px;
  background-color: black;
  color: white;
}


